/*Estilos especificos para los componentes de la paginas, Menu.jsx, About.jsx, etc*/

/*Contenedor principal para las páginas*/
.page-container {
  padding: 40px 0;
  background-color: #fff5f5;
}

/*Estilos para los títulos de las secciones ("Nuestro Menú" en Menu.jsx)*/
.section-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #e74c3c; /*Color rojo*/
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

.section-title::after {
  content: '';
  width: 60px;
  height: 4px;
  background: #e74c3c;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

/*Estilo para tarjetas de los platillos (Menu.jsx)*/
.card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

/*Efecto de elevación al pasar el mouse*/
.card:hover {
  transform: translateY(-5px); 
}
    
/*Para que la imagen se ajuste sin distorsion*/
.card-img-top {
  height: 200px;
  object-fit: cover; 
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #2c3e50;
}
      
.card-text {
  font-size: 0.9rem;
  color: #7f8c8d; 
}

/*Estilo para botones (Reservations.jsx/Contact.jsx)*/
.btn-primary {
  background-color: #e74c3c;
  border-color: #e74c3c;
  padding: 10px 20px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}


.card-img-top {
  height: 150px;
}
    
/*Fondo para la pagina de incio*/
.container.text-center.my-5 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/public/imagenes/fondo-principal.png') no-repeat center center/cover;
  color: #fff;
  padding: 100px 20px;
  border-radius: 10px;
}

/*Estilos para la pagina About.jsx*/
.container.my-5 p {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #060a18;
  text-align: justify;
}

.container.my-5 .animate__animated p {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #2c3e50;
} 

/*Estilos para la pagina Reservations*/
/*Formulario*/
#reservation-form {
  max-width: 600px;
  margin: 0 auto;
}

.form-label {
  font-weight: 600;
  color: #2c3e50;
}

.form-control {
  border-radius: 5px;
  border: 1px solid #ced4da;
  transition: border-color 0.3s ease;
}

.form-control:focus {
  border-color: #e74c3c;
  box-shadow: 0 0 5px rgba(231, 76, 60, 0.3);
}

.btn-primary {
  background-color: #e74c3c;
  border-color: #e74c3c;
  padding: 10px 20px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #c0392b;
  border-color: #c0392b;
}
  
@media (max-width: 768px) {
  .section-title {
  font-size: 2rem;
  }
}