/*Estilos globales, afectaran a todas la paginas.*/

/*resetear márgenes y paddings
-> Para poder empezar con espaciados limpios*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Estilo base para el body*/
body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff5f5; /*Fondo para todas las paginas*/
  color: #2c3e50; 
  line-height: 1.6;
}

/*Responsivo*/
@media (max-width: 768px) {
  .section-title {
    font-size: 2rem;
  }
}