/*Estilos globales, afectaran a toda la pagina.*/

/* resetear márgenes y paddings*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Estilo base para el body */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa; /* Fondo gris claro */
    color: #2c3e50; /* Color de texto oscuro */
    line-height: 1.6;
  }
